@font-face {
  font-family: 'slimjoe';
  font-weight: 100;
  src: local('slimjoe'), url(./fonts/slimjoe.woff2) format('opentype');
}

.slimjoe {
  font-family: 'slimjoe';
}

.weak {
  font-family: 'slimjoe';
  font-weight: 10;
  letter-spacing: 5px;
  font-size: 150%;
}

.mid {
  font-family: 'slimjoe';
  font-weight: 10;
  letter-spacing: 5px;
  font-size: 175%;
}

.strong {
  font-family: 'slimjoe';
  font-weight: 10;

  /* handled for old browsers */
  font-size: 150%;
}

.showtime {
  font-family: 'slimjoe';
  font-weight: 10;
  letter-spacing: 10px;

  /* handled for old browsers */
  font-size: 500%;
  font-size: 5.5vw;
}

.lambda {
  font-family: opensymbol;
  font-weight: 10;
}
