.weak {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 10;
  letter-spacing: 5px;
  font-size: 150%;
}

.mid {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 10;
  letter-spacing: 5px;
  font-size: 175%;
}

.strong {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 10;

  /* handled for old browsers */
  font-size: 150%;
}

.showtime {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 10;
  letter-spacing: 10px;

  /* handled for old browsers */
  font-size: 500%;
  font-size: 5.5vw;
}

.lambda {
  font-family: opensymbol;
  font-weight: 10;
}
